:host {
  display: block;
  width: 992px;
  margin: auto;

  .ruleset-header {
    padding: 5px 4px;
    position: relative;
  }

  .q-icon {
    font-style: normal;
    font-size: 12px;
  }

  .q-remove-icon {
    &::before {
      content: '❌'
    }
  }

  .q-arrow-icon-button {
    float: left;
    margin: 4px 6px 4px 0;
    transform: rotate(90deg);
    transition: linear 0.25s transform;
    cursor: pointer;

    &.q-collapsed {
      transform: rotate(0);
    }
  }

  .q-arrow-icon {
    &::before {
      content: '▶'
    }
  }

  .q-add-icon {
    font-size: 22px;

    &::before {
      color: #fff;
      content: '+'
    }
  }

  .q-remove-button {
    color: #B3415D;
    width: 31px;
  }

  .q-switch-group, .q-button-group {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
  }

  .q-right-align {
    float: right;
  }

  .q-button {
    margin-left: 8px;
    padding: 0 8px;
    background-color: white;

    &:disabled {
      display: none;
    }
  }

  .q-control-size {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
  }

  .q-input-control, .q-operator-control, .q-field-control, .q-entity-control {
    display: inline-block;
    padding: 5px 8px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: auto;

    &:disabled {
      border-color: transparent;
    }
  }

  .q-operator-control, .q-field-control,.q-entity-control, .q-input-control:not([type='checkbox']) {
    min-height: 32px;
    -webkit-appearance: none;
  }

  .q-switch-label, .q-button {
    float: left;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background-color: #F0F0F0;
    }
  }

  .q-switch-label {
    background-color: #e4e4e4;
    padding: 0 8px;
  }

  .q-switch-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + .q-switch-label {
      border: 1px solid rgb(97, 158, 215);
      background: white;
      color: rgb(49, 118, 179);
    }

    &:disabled + .q-switch-label {
      display: none;
    }

    &:checked:disabled + .q-switch-label {
      display: initial;
      color: initial;
      cursor: default;
      border-color: transparent;
    }
  }

  .q-invalid-ruleset {
    border: 1px solid rgba(179, 65, 93, 0.5) !important;
    background: rgba(179, 65, 93, 0.1) !important;
  }

  .q-empty-warning {
    color: rgb(141, 37, 46);
    text-align: center;
  }

  .q-rule {
    background: #52c78233 !important;
  }

  .q-transition {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
  }

  .q-tree-container {
    width: 100%;
    transition: ease-in 0.25s max-height;

    &.q-collapsed {
      max-height: 0 !important;
    }

    .condition-strike-line {
      display: none;
    }
  }

  .q-tree {
    list-style: none;
    padding-left: 0;
    border-radius: 5px;
    margin: 10px 0;

    > .q-ruleset {
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      border: 1px solid rgb(204, 204, 204);
      position: relative;

      .ruleset-mapping-btn {
        position: absolute;
        top: 49%;
        background-color: #fff;
        border: 1px solid #cccccc;
        border-radius: 50%;
        padding: 5px 14px;
        cursor: pointer;
        font-size: 19px;
        outline: none;

        &.left {
          left: -70px;
        }

        &.right {
          right: -70px;
        }

        &.active {
          background-color: #3f51b5;
          border-color: #3f51b5;
          color: #fff;
        }
      }
    }

    .q-tree {
      box-shadow: none;

      .q-row {
        margin-bottom: 6px;
        padding: 6px;

        &:nth-last-child(2) {
          .condition-badge  {
            display: none;
          }
        }
      }
    }

    .add-group-condition-btn {
      display: none;
    }

    .q-row:last-child {
      .condition-strike-line {
        display: none;
      }
    }

    li:last-child {
      .arrow, .arrow-body-head, .select-root-condition {
        display: none;
      }
    }

    .condition-strike-line {
      display: flex;
    }
  }

  .q-row {
    background: #fff;
  }

  .q-connector {
    position: relative;
  }

  .q-inline-block-display{
    display: inline-block;
    vertical-align: top;
  }

  .condition-badge {
    position: absolute;
    right: 10%;
    bottom: -22px;
    background: #fff;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #dcf4e5;
    padding-top: 10px;
    z-index: 1;
  }

  .condition-strike-line {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -21px;
    right: 0;
    left: 0;

    &:before, &:after {
      content: '';
      border-top: 1px solid;
      margin: 0 20px 0 0;
      flex: 1 0 20px;
    }

    &:after {
      margin: 0 0 0 20px;
    }
  }

  .tree-item-footer {
    position: relative;

    .select-root-condition {
      position: absolute;
      top: 13px;
      bottom: 0;
      width: 80px;
    }

    .arrow-body, .arrow-body-head {
      background-color: rgb(153, 153, 153);
      height: 16px;
      left: 50%;
      margin-left: -1px;
      position: relative;
      width: 2px;
      z-index: 0;
    }
  
    .arrow {
      color: rgb(153, 153, 153);
      margin-top: -4px;
      padding-left: 1px;
      position: relative;
      z-index: 4;
      line-height: 1;
      font-size: 10px;
      text-align: center;
    }

    .counted, .add-btn {
      text-align: center;
      height: 25px;
      margin-top: -2px;
    }
    .add-btn {
      span {
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 1px;
        cursor: pointer;
        border-radius: 50%;
        transition: box-shadow 100ms ease-out 0s;
        font-size: 27px;
        color: rgb(19, 107, 245);
      }
    }

    .counted {
      span {
        background-color: rgb(121, 121, 121);
        border-radius: 30px;
        padding: 5px 10px 4px;
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0;
}
