::ng-deep {
	.q-input {
		border: 1px solid #cccccc;
    padding: 8px 5px;
    border-radius: 6px;
	}

	.q-select {
		width: 60px;
		border: 1px solid #dddddd;
		padding: 6px;
		border-radius: 6px;
		height: 20px;
		background: #fff;
	}
}